---

---

<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto " >
    <nav class="flex flex-row gap-x-5 lg:gap-x-10 opacity-80">
        <a class="menu-item" href="#top">Inicio</a>
        <a class="menu-item" href="#experiencia">Experiencia</a>
        <a class="menu-item" href="#proyectos">Proyectos</a>
        <a class="menu-item" href="#contacto">Contacto</a>
    </nav>
</header>

<script>
  import { gsap } from "gsap";
  window.addEventListener("DOMContentLoaded", () => {
    gsap.from(".menu-item", {
      y: -100,
      duration: 1,
      stagger: 0.2
    });
  });
</script>